<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/Layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Santa Filomena</title>

<link rel="stylesheet" type="text/css" href="/css/style.css">

<link
	href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap"
	rel="stylesheet">

</head>
<body>
	<div class="container">
		<header>
			<div>
				<img src="_img/logo/ancora.png" alt="">
			</div>
			<div class="nome_botoes">
				<h1>Santa Filomena</h1>
				<ul class="botoes">
					<li><a href="/">Home</a></li>
					<li><a href="historia">História</a></li>
					<li><a href="oracoes">Orações</a></li>
					<li><a href="sacramentais">Sacramentais</a></li>
					<li><a href="milagres">Milagres</a></li>
					<li><a href="contato">Contato</a></li>
				</ul>
			</div>
			<div>
				<img src="_img/logo/cruz.png" alt="">
			</div>
		</header>
		<main class="corpo_formulario">
			<div class="container_cadastro">
				<ul class="botoes_cadastro">
					<li><a href="/">Seja um Devoto</a></li>
				</ul>
				<ul class="botoes_cadastro">
					<li><a href="/cadastrarDevoto">Cadastrar</a></li>
				</ul>
				<!-- <ul class="botoes_cadastro">
					<li><a href="/devotos">Lista de Devotos</a></li>
				</ul> -->
			</div>
			<div>
				<img class="foto_indes" src="_img/santa_filomena-400.png" alt="">
			</div>
			<div>
				<a href="/cadastrarDevoto"><button>Cadastrar Devotos</button></a> 
				<!-- <a href="/devotos"><button>Listar Devotos</button></a> -->
			</div>
		</main>
		<footer>
			<p>@2021 - JC Design</p>
		</footer>
	</div>

</body>
</html>