<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <header>
            <div>
                <img src="_img/logo/ancora.png" alt="">
            </div>
            <div class="nome_botoes">
                <h1>Santa Filomena</h1>
                <ul class="botoes">
					<li><a href="/">Home</a></li>
                    <li><a href="historia">História</a></li>
                    <li><a href="oracoes">Orações</a></li>
                    <li><a href="sacramentais">Sacramentais</a></li>
                    <li><a href="milagres">Milagres</a></li>
                    <li><a href="contato">Contato</a></li>
				</ul>
            </div>
            <div>
                <img src="_img/logo/cruz.png" alt="">
            </div>
        </header>
        <main class="conteudo_milagres">
            <div id="linha_1">
                <div class="descricao">
                    <div class="titulo">
                        <h3>A jovem Pauline-Marie Jaricot</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_1.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
                <div class="descricao">
                    <div class="titulo">
                        <h3>Gabriela Maria Sanches Costa</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_2.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
                <div class="descricao">
                    <div class="titulo">
                        <h3>Neusa Maria de Araujo</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_3.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
                <div class="descricao">
                    <div class="titulo">
                        <h3>Avó curada e livre da morte</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_4.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div id="linha_2">
                <div class="descricao">
                    <div class="titulo">
                        <h3>Padre Vanderlei Ribeiro</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_5.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
                <div class="descricao">
                    <div class="titulo">
                        <h3>Cura material e espiritual em um ateu</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_6.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
                <div class="descricao">
                    <div class="titulo">
                        <h3>A cura de um sacerdote</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_7.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
                <div class="descricao">
                    <div class="titulo">
                        <h3>A cura de um sacerdote</h3>
                    </div>
                    <div class="intern">
                        <a href="_milagres/milagre_7.html"><img src="_img/vela_menor.png" alt=""></a>
                    </div>
                </div>
            </div>
            
        </main>
        <aside>

        </aside>
        <footer>
            <p>@2021 - JC Design</p>
        </footer>
    </div>
</body>

</html>