<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container_oracoes">
        <header>
            <div>
                <img src="_img/logo/ancora.png" alt="">
            </div>
            <div class="nome_botoes">
                <h1>Santa Filomena</h1>
                <ul class="botoes">
					<li><a href="/">Home</a></li>
                    <li><a href="historia">História</a></li>
                    <li><a href="oracoes">Orações</a></li>
                    <li><a href="sacramentais">Sacramentais</a></li>
                    <li><a href="milagres">Milagres</a></li>
                    <li><a href="contato">Contato</a></li>
				</ul>
            </div>
            <div>
                <img src="_img/logo/cruz.png" alt="">
            </div>
        </header>
        <main>
            <img src="_img/foto_central.jpg" alt="">
        </main>
        <aside class="lateral_oracoes">
            <ul class="botoes_lateral">
                <li><a href="_oracoes/coroinha.html">Coroinha</a></li>
                <li><a href="_oracoes/terco.html">Terço</a></li>
                <li><a href="_oracoes/novena.html">Novena</a></li>
                <li><a href="_oracoes/ladainha.html">Ladainha</a></li>
                <li><a href="_oracoes/saudacao.html">Saudação</a></li>
                <li><a href="_oracoes/oracao.html">Oração</a></li>
            </ul>
        </aside>
        <footer>
            <p>@2021 - JC Design</p>
        </footer>
    </div>
</body>

</html>