<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <header>
            <div>
                <img src="_img/logo/ancora.png" alt="">
            </div>
            <div class="nome_botoes">
                <h1>Santa Filomena</h1>
                <ul class="botoes">
					<li><a href="/">Home</a></li>
                    <li><a href="historia">História</a></li>
                    <li><a href="oracoes">Orações</a></li>
                    <li><a href="sacramentais">Sacramentais</a></li>
                    <li><a href="milagres">Milagres</a></li>
                    <li><a href="contato">Contato</a></li>
				</ul>
            </div>
            <div>
                <img src="_img/logo/cruz.png" alt="">
            </div>
        </header>
        <main class="principal_sacramentais">
            <div class="descricao">
                <div class="titulo">
                    <h3>O Cordão</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/cordao.html"><img src="_img/sacramentais/cordao_menor.png" alt=""></a>
                </div>
            </div>

            <div class="descricao">
                <div class="titulo">
                    <h3>O Óleo</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/oleo.html"><img src="_img/sacramentais/oleo_menor.png" alt=""></a>
                </div>
            </div>

            <div class="descricao">
                <div class="titulo">
                    <h3>A Imagem</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/imagem.html"><img src="_img/sacramentais/imagem_menor.png" alt=""></a>
                </div>
            </div>

            <div class="descricao">
                <div class="titulo">
                    <h3>O Tercinho</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/tercinho.html"><img src="_img/sacramentais/tercinho_menor.png" alt=""></a>
                </div>
            </div>

            <div class="descricao">
                <div class="titulo">
                    <h3>O Livro</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/livro.html"><img src="_img/sacramentais/livro_menor.png" alt=""></a>
                </div>
            </div>

            <div class="descricao">
                <div class="titulo">
                    <h3>A Medalha</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/medalha.html"><img src="_img/sacramentais/medalha_menor.png" alt=""></a>
                </div>
            </div>

            <div class="descricao">
                <div class="titulo">
                    <h3>O Folheto</h3>
                </div>
                <div class="intern">
                    <a href="_sacramentais/folheto.html"><img src="_img/sacramentais/folheto_menor.png" alt=""></a>
                </div>
            </div>
        </main>
        <aside>

        </aside>
        <footer>
            <p>@2021 - JC Design</p>
        </footer>
    </div>
</body>

</html>